TOPBAR
.topbar {
  height: 60px;
  background: linear-gradient(135deg, #9994fb, #6366f1);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 12%;
}

/* LEFT */
.topbar .logo {
  font-size: 35px;
  font-weight: 1600px;
  letter-spacing: 0.5px;
  margin-left: 50px;
  font: bold;
  
}


/* RIGHT */
.topbar .logo  {
  background: linear-gradient(
    90deg,
    #ff0000,
    #ff7a00,
    #ffee00,
    #00ff00,
    #0099ff,
    #6633ff,
    #cc00ff
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}
.dark .topbar .logo {
  background: linear-gradient(
    90deg,
    #ff66ff,
    #9966ff,
    #66ccff,
    #66ffcc,
    #ffff66,
    #ffcc66,
    #ff6699
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



/* USER EMAIL */
.user-email {
  font-size: 14px;
  opacity: 0.9;
  background: rgba(255, 255, 255, 0.15);
  padding: 6px 10px;
  border-radius: 20px;
}

/* LOGOUT BUTTON */
.logout-btn {
  background: white;
  color: #4f46e5;
  border: none;
  padding: 6px 16px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.logout-btn:hover {
  background: #eef2ff;
  transform: translateY(-1px);
}

/* DARK MODE SUPPORT */
.dark .topbar {
  background: linear-gradient(135deg, #1f2937, #111827);
  border-radius: 5%;
}

.dark .user-email {
  background: rgba(255, 255, 255, 0.08);
}

.dark .logout-btn {
  background: #374151;
  color: #fff;
}

.dark .logout-btn:hover {
  background: #4b5563;
}
/* ....dark mode ..option...... */
.btn.checkin {
  background: #10b981;
  color: #fff;
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-right: 12px;
}

.btn.checkout {
  background: #ef4444;
  color: #fff;
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-right: 12px;
}
.btn.checkoutt {
  background: #380ba1;
  color: #fff;
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-right: 12px;
}

.btn.checkin:hover,
.btn.checkout:hover {
  opacity: 0.9;
}

/* DARK MODE */
.dark .btn.checkin { background: #0d9488; }
.dark .btn.checkout { background: #dc2626; }

